.App-header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #e2354e;
    color: #e2354e;
}

.App-header > h1 {
    display: inline;
    padding: 100px 0;
}

.App-logo {
    height: 30vh;
  }