table#CourseList {
    border: 1px solid;
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
    table-layout: auto;
}

table#CourseList thead {
    border: 1px solid;
    width: 100%;
}

table#CourseList thead > tr > th{
    border: 1px solid;
}